<a href="https://colab.research.google.com/github/danila-initiative/Algorithms_4th_Edition/blob/main/1_1_Basic_Programming_Model_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import typing as tp

### 1.1.1 Give the value of each of the following expressions  

a. ( 0 + 15 ) / 2  
b. 2.0e-6 * 100000000.1  
c. true && false || true && true.

In [2]:
# a
(0 + 15) / 2

7.5

In [4]:
# b
2.0e-6 * 100000000.1

200.0000002

In [5]:
# c
True and False or True and True

True

### 1.1.2 Give the type and value of each of the following expressions:
a. (1 + 2.236)/2  
b. 1 + 2 + 3 + 4.0  
c. 4.1 >= 4  
d. 1 + 2 + "3"

In [8]:
# a
result = (1 + 2.236) / 2

print(type(result))
print(result)

<class 'float'>
1.618

In [9]:
# b
result = 1 + 2 + 3 + 4.0

print(type(result))
print(result)

<class 'float'>
10.0

In [10]:
# c
result = 4.1 >= 4

print(type(result))
print(result)

<class 'bool'>
True

In [11]:
# d
result = 1 + 2 + "3"

print(type(result))
print(result)

TypeError: ignored

1.1.5 Write a code fragment that prints true if the double variables x and y are both strictly between 0 and 1 and false otherwise.

In [17]:
def ex_1_1_5(x: float, y: float):
  if 0 < x < 1 and 0 < y < 1:
    return True
  return False

print(ex_1_1_5(3, 4))
print(ex_1_1_5(-1.0, -2.0))
print(ex_1_1_5(-0.7, 0.2))
print(ex_1_1_5(0.6, 1.4))
print(ex_1_1_5(0.1, 0.9999))

False
False
False
False
True

### 1.1.6 What does the following program print?
```Java
    int f = 0;
    int g = 1;
    for (int i = 0; i <= 15; i++)
    {
       StdOut.println(f);
       f = f + g;
       g = f - g;
    }
```

In [21]:
f: int = 0
g: int = 1

for _ in range(16):
  print(f)
  f = f + g
  g = f - g

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

### 1.1.7 Give the value printed by each of the following code fragments:
a.
```Java
double t = 9.0;  
while (Math.abs(t - 9.0/t) > .001)  
   t = (9.0/t + t) / 2.0;  
StdOut.printf("%.5f\n", t);  
```

b.
```Java
int sum = 0;
for (int i = 1; i < 1000; i++)
        for (int j = 0; j < i; j++)
            sum++;
StdOut.println(sum);
```

c.
```Java
int sum = 0;
for (int i = 1; i < 1000; i *= 2)
       for (int j = 0; j < i; j++)
           sum++;
StdOut.println(sum);
```

In [24]:
# a
t: float = 9.0
while abs(t - 9.0/t) > .001:
  t = (9.0/t + t) / 2.0

print("{:.5f}".format(t))

3.00009

In [26]:
# b
b: int = 0
for i in range(1, 1000):
  for j in range(i):
    b += 1

print(b)

499500

In [29]:
# c
sum: int = 0
i = 1
while i < 1000:
  for j in range(i):
    sum += 1
  i *= 2

print(sum)

1023