<a href="https://colab.research.google.com/github/danila-initiative/Algorithms_4th_Edition/blob/main/1_1_Basic_Programming_Model_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import typing as tp
import datetime

### 1.1.1 Give the value of each of the following expressions  

a. ( 0 + 15 ) / 2  
b. 2.0e-6 * 100000000.1  
c. true && false || true && true.

In [2]:
# a
(0 + 15) / 2

7.5

In [4]:
# b
2.0e-6 * 100000000.1

200.0000002

In [5]:
# c
True and False or True and True

True

### 1.1.2 Give the type and value of each of the following expressions:
a. (1 + 2.236)/2  
b. 1 + 2 + 3 + 4.0  
c. 4.1 >= 4  
d. 1 + 2 + "3"

In [8]:
# a
result = (1 + 2.236) / 2

print(type(result))
print(result)

<class 'float'>
1.618

In [9]:
# b
result = 1 + 2 + 3 + 4.0

print(type(result))
print(result)

<class 'float'>
10.0

In [10]:
# c
result = 4.1 >= 4

print(type(result))
print(result)

<class 'bool'>
True

In [11]:
# d
result = 1 + 2 + "3"

print(type(result))
print(result)

TypeError: ignored

1.1.5 Write a code fragment that prints true if the double variables x and y are both strictly between 0 and 1 and false otherwise.

In [17]:
def ex_1_1_5(x: float, y: float):
  if 0 < x < 1 and 0 < y < 1:
    return True
  return False

print(ex_1_1_5(3, 4))
print(ex_1_1_5(-1.0, -2.0))
print(ex_1_1_5(-0.7, 0.2))
print(ex_1_1_5(0.6, 1.4))
print(ex_1_1_5(0.1, 0.9999))

False
False
False
False
True

### 1.1.6 What does the following program print?
```Java
    int f = 0;
    int g = 1;
    for (int i = 0; i <= 15; i++)
    {
       StdOut.println(f);
       f = f + g;
       g = f - g;
    }
```

In [21]:
f: int = 0
g: int = 1

for _ in range(16):
  print(f)
  f = f + g
  g = f - g

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

### 1.1.7 Give the value printed by each of the following code fragments:
a.
```Java
double t = 9.0;  
while (Math.abs(t - 9.0/t) > .001)  
   t = (9.0/t + t) / 2.0;  
StdOut.printf("%.5f\n", t);  
```

b.
```Java
int sum = 0;
for (int i = 1; i < 1000; i++)
        for (int j = 0; j < i; j++)
            sum++;
StdOut.println(sum);
```

c.
```Java
int sum = 0;
for (int i = 1; i < 1000; i *= 2)
       for (int j = 0; j < i; j++)

1.   Новый пункт
2.   Новый пункт


           sum++;
StdOut.println(sum);
```

In [24]:
# a
t: float = 9.0
while abs(t - 9.0/t) > .001:
  t = (9.0/t + t) / 2.0

print("{:.5f}".format(t))

3.00009

In [26]:
# b
b: int = 0
for i in range(1, 1000):
  for j in range(i):
    b += 1

print(b)

499500

In [29]:
# c
sum: int = 0
i = 1
while i < 1000:
  for j in range(i):
    sum += 1
  i *= 2

print(sum)

1023

### 1.1.9 Write a code fragment that puts the binary representation of a positive integer N into a String s.

In [5]:
# build in
print(bin(33))
print(bin(34))

0b100001
0b100010

In [7]:
def num_to_bin(N: int) -> str:
  result = ""
  n = N
  while n > 0:
    result = str(n % 2) + result
    n = n // 2

  return result

print(num_to_bin(33))
print(num_to_bin(34))

100001
100010

### 1.1.11 Write a code fragment that prints the contents of a two-dimensional boolean array, using * to represent true and a space to represent false. Include row and column numbers.

In [18]:
def print_array(b_list: list[list[bool]]) -> None:
  for row in b_list:
    [print("*", end="") if el else  print(" ", end="") for el in row]
    print()

test_array = [[True, False, True], [False, True, False], [True, False, True]]
print_array(test_array)

* *
 *
* *

### 1.1.13 Write a code fragment to print the transposition (rows and columns changed) of a two-dimensional array with M rows and N columns.

In [26]:
def transpose_array(init_array: list[list[tp.Any]], M: int, N: int):
  for i in range(N):
    for j in range(M):
      print(init_array[j][i], end=" ")
    print()

test_array = [[1, 2],
              [3, 4],
              [5, 6]]

transpose_array(test_array, 3, 2)

1 3 5
2 4 6

### 1.1.15 Write a static method `histogram()` that takes an `array a[]` of int values and an integer M as arguments and returns an array of length M whose `i-th` entry is the number of times the integer i appeared in the argument array. If the values in `a[]` are all between 0 and `M–1`, the sum of the values in the returned array should be equal to `a.length`.

In [34]:
def histogram(array: list[int], M: int):
  result = [0] * M
  for i in array:
    if 0 <= i < M:
      result[i] += 1

  return result


test_array = [1, 2, 3, 1, 2, 1, 5, 6, 4, 4, -3]
print(histogram(test_array, 5))

[0, 3, 2, 1, 2]

### 1.1.16 Give the value of `exR1(6)`:
```Java
    public static String exR1(int n)
    {
       if (n <= 0) return "";
       return exR1(n-3) + n + exR1(n-2) + n;
    }
```

In [35]:
def  exR1(n: int) -> str:
  if n <= 0:
    return 0
  return exR1(n-3) + n + exR1(n-2) + n

exR1(6)

34

In [36]:
6 + 6 + 3 + 3 + 1 + 1 + 4 + 4 + 1 + 1 + 2 + 2

34

### 1.1.18 Considerthefollowingrecursivefunction:
```Java
    public static int mystery(int a, int b)
    {
       if (b == 0)     return 0;
       if (b % 2 == 0) return mystery(a+a, b/2);
       return mystery(a+a, b/2) + a;
}
```
What are the values of `mystery(2, 25)` and `mystery(3, 11)`? Given positive integers `a` and `b`,describe what value mystery(a, b)computes.Answerthesamequestion,but replace + with * and replace return 0 with return 1.

In [2]:
def mystery(a: int, b:int):
  if b == 0:
    return 0
  if b % 2 == 0:
    return mystery(a + a, int(b/2))
  return mystery(a + a, int(b/2)) + a

print(mystery(2, 25))
print(mystery(3, 11))

50
33

In [3]:
def mystery_2(a: int, b:int):
  if b == 0:
    return 1
  if b % 2 == 0:
    return mystery(a * a, int(b/2))
  return mystery(a * a, int(b/2)) * a

print(mystery_2(2, 25))
print(mystery_2(3, 11))

96
135

### 1.1.19 Run the following program on your computer:
```Java    
public class Fibonacci
{
    public static long F(int N)
    {
      if (N == 0) return 0;
      if (N == 1) return 1;
      return F(N-1) + F(N-2);
  }
    public static void main(String[] args)
    {
      for (int N = 0; N < 100; N++)
          StdOut.println(N + " " + F(N));
    }
 }

```
What is the largest value of N for which this program takes less 1 hour to compute the value of `F(N)`? Develop a better implementation of `F(N)` that saves computed values in an array.

In [10]:
def fibonacci_1(n: int):
  if n == 0:
    return 0
  if n == 1:
    return 1
  return fibonacci_1(n-1) + fibonacci_1(n-2)

for i in range(40):
  start = datetime.datetime.now()
  print(i, fibonacci_1(i), end="   ")
  duration = datetime.datetime.now() - start
  print(duration.seconds, ",s")

0 0   0 ,s
1 1   0 ,s
2 1   0 ,s
3 2   0 ,s
4 3   0 ,s
5 5   0 ,s
6 8   0 ,s
7 13   0 ,s
8 21   0 ,s
9 34   0 ,s
10 55   0 ,s
11 89   0 ,s
12 144   0 ,s
13 233   0 ,s
14 377   0 ,s
15 610   0 ,s
16 987   0 ,s
17 1597   0 ,s
18 2584   0 ,s
19 4181   0 ,s
20 6765   0 ,s
21 10946   0 ,s
22 17711   0 ,s
23 28657   0 ,s
24 46368   0 ,s
25 75025   0 ,s
26 121393   0 ,s
27 196418   0 ,s
28 317811   0 ,s
29 514229   0 ,s
30 832040   0 ,s
31 1346269   0 ,s
32 2178309   1 ,s
33 3524578   1 ,s
34 5702887   2 ,s
35 9227465   5 ,s
36 14930352   7 ,s
37 24157817   13 ,s
38 39088169   21 ,s
39 63245986   33 ,s

In [16]:
def fibonacci_2(n: int):
  result = [0, 1]
  if n == 0:
    return [0]
  if n == 1:
    return [0, 1]

  for i in range(2, n+1):
    result.append(result[i-1] + result[i-2])

  return result

for i in range(50):
  start = datetime.datetime.now()
  print(i, fibonacci_2(i), end="   ")
  duration = datetime.datetime.now() - start
  print(duration.seconds, ",s")

0 [0]   0 ,s
1 [0, 1]   0 ,s
2 [0, 1, 1]   0 ,s
3 [0, 1, 1, 2]   0 ,s
4 [0, 1, 1, 2, 3]   0 ,s
5 [0, 1, 1, 2, 3, 5]   0 ,s
6 [0, 1, 1, 2, 3, 5, 8]   0 ,s
7 [0, 1, 1, 2, 3, 5, 8, 13]   0 ,s
8 [0, 1, 1, 2, 3, 5, 8, 13, 21]   0 ,s
9 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]   0 ,s
10 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]   0 ,s
11 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]   0 ,s
12 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]   0 ,s
13 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]   0 ,s
14 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]   0 ,s
15 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]   0 ,s
16 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]   0 ,s
17 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]   0 ,s
18 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]   0 ,s
19 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]   0 ,s
20 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]   0 ,s
21 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]   0 ,s
22 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]   0 ,s
23 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657]   0 ,s
24 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368]   0 ,s
25 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025]   0 ,s
26 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393]   0 ,s
27 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418]   0 ,s
28 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]   0 ,s
29 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]   0 ,s
30 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040]   0 ,s
31 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269]   0 ,s
32 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309]   0 ,s
33 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578]   0 ,s
34 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887]   0 ,s
35 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465]   0 ,s
36 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352]   0 ,s
37 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817]   0 ,s
38 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169]   0 ,s
39 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986]   0 ,s
40 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155]   0 ,s
41 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141]   0 ,s
42 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296]   0 ,s
43 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437]   0 ,s
44 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733]   0 ,s
45 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170]   0 ,s
46 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903]   0 ,s
47 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073]   0 ,s
48 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976]   0 ,s
49 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]   0 ,s

### 1.1.22 Write a version of BinarySearch that uses the recursive `rank()` given on page 25 and *traces* the method calls. Each time the recursive method is called, print the argument values `lo` and `hi`, indented by the depth of the recursion. Hint: Add an argument to the recursive method that keeps track of the depth.

In [27]:
def rank(key: int, a: list[int], lo: int, hi: int, depth: int = 0) -> int:
  print(f'lo: {lo}, hi: {hi}, depth: {depth}')
  depth+=1

  if lo > hi:
    return -1
  mid: int = lo + int((hi - lo) / 2)

  if key < a[mid]:
    return rank(key, a, lo, mid - 1, depth)
  elif key > a[mid]:
    return rank(key, a, mid + 1, hi, depth)
  else:
    return mid


test_array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
result = rank(8, test_array, 0, len(test_array) - 1)
print(result)

lo: 0, hi: 10, depth: 0
lo: 6, hi: 10, depth: 1
lo: 6, hi: 7, depth: 2
lo: 7, hi: 7, depth: 3
7